body {
    background-color: lightsteelblue;
    margin: 16px;
    font-size: large;
    padding: 16px;
}

.main-list {
    width: 75%;
    line-height: 1.5em;
}

.main-list li {
    padding: 5px;
}

.main-list a {
    text-decoration: none;
}